@{
    ViewData["Title"] = "Home Page";
    @inject Obj3 obj3A
    @inject Obj3 obj3B
}



<div class="row">
   
    <div >

        <p>
            <strong>Objeto 1:</strong> @ViewBag.obj1.Id
        </p>
        <p>
            <strong>Objeto 2:</strong> @ViewBag.obj2.Id
        </p>
        <p>
            <strong>Objeto 2:</strong> @ViewBag.obj2.Id
        </p>
        <p>
            <strong>Objeto 3A:</strong> @obj3A.Id
        </p>
        <p>
            <strong>Objeto 3B:</strong> @obj3B.Id
        </p>

    </div>
</div>
